.container {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.choice-list {
  margin: 0 70px;
}

.choice-container {
  display: flex;
  border-radius: 4px;
  background: var(--main-blue-color);
  /* font-size: 3rem; */
  color: #fefefe;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin: 30px auto 0.8rem auto;
  max-width: 700px;
  width: 100%;
}

.choice-container:focus {
  outline: 7px solid var(--main-yellow-color);
}

@font-face {
  font-family: sevenSegment;
  src: url(seven-segment.ttf);
}

.timer {
  font-family: sevenSegment;
  font-size: 10rem;
  width: 360px;
}

/* remove focus for mouse */
.choice-container:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: transform 100ms;
}

.correct {
  background: var(--main-green-color);
}

.incorrect {
  background: var(--main-red-color);
}

/* HUD */

#hud,
#hud_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.mobile {
  display: none;
}

#question {
  margin-top: 4rem;
  font-size: 5rem;
}

#game {
  width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #question {
    font-size: 2rem;
  }

  #hud_desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .timer {
    width: 100%;
    font-size: 5rem;
  }

  .hud-item {
    margin-top: 20px;
  }

  .choice-container {
    font-size: 2rem;
  }

  .btn {
    width: 100%;
  }

  .choice-list {
    margin: auto 30px;
  }
}
