.container {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.choice-list {
  margin: 0 70px;
  min-width: fit-content;
}

.choice-container {
  display: flex;
  border-radius: 4px;
  background: var(--main-blue-color);
  font-size: 3rem;
  color: #fefefe;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin: 30px auto 0.8rem auto;
  max-width: 700px;
  width: 500px;
}

.choice-container:focus {
  outline: 7px solid var(--main-yellow-color);
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--main-blue-color);
  transform: scale(1.02);
  transform: transform 100ms;
}

.correct {
  background: var(--main-green-color);
}

.incorrect {
  background: var(--main-red-color);
}

/* HUD */

#hud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.hud-item p {
  font-size: 2.5rem;
}

.hud-main-text {
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  body {
    height: 100vh !important;
  }

  h1 {
    font-size: 3rem;
  }

  .choice-container {
    width: 200px;
  }
}
